---
import type { BibliographyEntry as BibliographyEntryViewModel } from "../../lib/bibliography";
import BibliographyEntry from "./BibliographyEntry.astro";

interface Props {
  entries: readonly BibliographyEntryViewModel[];
}

const { entries } = Astro.props;
---

<ol class="border-border divide-border grid divide-y border-y">
  {
    entries.map((entry) => (
      <li>
        <BibliographyEntry entry={entry} />
      </li>
    ))
  }
</ol>
