---
import type { HTMLAttributes } from "astro/types";
import LinkButton from "../ui/LinkButton.astro";

interface Props extends Omit<HTMLAttributes<"a">, "href"> {
  class?: string;
  compactLabel?: string;
  href?: string;
  label?: string;
}

const {
  class: className,
  compactLabel,
  href = "https://patreon.com/thephilosophersmeme",
  label = "Support Us",
  ...attrs
} = Astro.props;
---

<LinkButton
  {...attrs}
  href={href}
  size="md"
  class:list={[className]}
  data-support-link
>
  {
    compactLabel === undefined ? (
      label
    ) : (
      <>
        <span data-support-label-full class="max-[22.5625rem]:hidden">
          {label}
        </span>
        <span data-support-label-compact class="hidden max-[22.5625rem]:inline">
          {compactLabel}
        </span>
      </>
    )
  }
</LinkButton>
