---
import type { HTMLAttributes } from "astro/types";
import LinkButton from "../ui/LinkButton.astro";
import { siteConfig } from "../../lib/site-config";

interface Props extends Omit<HTMLAttributes<"a">, "href"> {
  class?: string;
  compactLabel?: string;
  href?: string;
  label?: string;
}

const {
  class: className,
  compactLabel,
  href = siteConfig.support.patreon.href,
  label = siteConfig.support.patreon.label,
  ...attrs
} = Astro.props;
---

{
  siteConfig.features.support && (
    <LinkButton
      {...attrs}
      href={href}
      size="md"
      class:list={[className]}
      data-support-link
    >
      {compactLabel === undefined ? (
        label
      ) : (
        <>
          <span data-support-label-full class="max-[22.5625rem]:hidden">
            {label}
          </span>
          <span
            data-support-label-compact
            class="hidden max-[22.5625rem]:inline"
          >
            {compactLabel}
          </span>
        </>
      )}
    </LinkButton>
  )
}
