---
import CategoryOverviewBlock from "./CategoryOverviewBlock.astro";
import type { SectionNavItem } from "../../lib/navigation";

interface Props {
  items: readonly SectionNavItem[];
  title?: string;
}

const { items, title = "Browse Categories" } = Astro.props;
---

<div data-home-category-overview>
  <CategoryOverviewBlock
    columns="compact"
    headingLevel={2}
    headingId="home-categories-heading"
    items={items}
    title={title}
  />
</div>
