---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="home">
    <img
      src="/assets/images/2022-04-05_tpm-header_trnp_dm.png"
      alt="The Philosopher's Meme"
    />
    <p>The philosophy of memes, cyberculture, and the Internet.</p>
  </section>
</BaseLayout>
