---
import TextLink from "../ui/TextLink.astro";
import type { AuthorSummary } from "../../lib/authors";

interface Props {
  author: AuthorSummary;
  profileLinksEnabled?: boolean | undefined;
}

const { author, profileLinksEnabled = true } = Astro.props;
---

{
  profileLinksEnabled ? (
    <TextLink
      href={author.href}
      variant="subtle"
      tone="primary"
      prefetch="hover"
    >
      {author.displayName}
    </TextLink>
  ) : (
    <span>{author.displayName}</span>
  )
}
